body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    body, html, .sidebar, .content, main, .node-insert 
    {
    background-color: #000000 !important;
    color: #ffffff !important;
    }

    a, h1, h2, h3, h4, p, span, li, .search-button, input
    {
    color: #ffffff !important;
    }
}
