body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }


    body, 
    html, 
    .sidebar, 
    .sidebar-container, 
    .right-sidebar, 
    main, 
    .content, 
    .embedded-note 
    {
        background-color: #000000 !important;
        background: #000000 !important;
    }

    a, h1, h2, h3, h4, p, span, li, footer 
    {
        color: #ffffff !important;
    }

    .search-button, input 
    {
    background-color: #111111 !important;
    color: #ffffff !important;
    }

}
