body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }


    :root, body, html, [data-theme="dark"] 
    {
    --background-body: #000000 !important;
    --background-sidebar: #000000 !important;
    --background-sidebars: #000000 !important;
    --bg-color: #000000 !important;
    
    --text-normal: #ffffff !important;
    --text-title: #ffffff !important;
    --text-muted: #aaaaaa !important;
    }

    .sidebar, .sidebar-container, .right-sidebar, main, .content, .embedded-note, .site-body 
    {
    background-color: #000000 !important;
    background: #000000 !important;
    }


}
